extends layout
block content
    .container
        .row
            .col-xs-12.text-center
                p.title This page is still contaminated!
                p="Come back when it's clean"
                img.right-image(src="/img/contaminants/mockup.jpg")
