doctype html
html
    head
        meta(charset='utf-8')
        title= pageTitle
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //
            Bootstrap Includes
        link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='/css/index.css', rel='stylesheet')

        //
            HTML5 shim, for IE6-8 support of HTML5 elements
        //if lt IE 9
            script(src='/js/libs/html5shiv.js')

  body
    .navbar.navbar-fixed-top
        .container
            .row
                .col-xs-6.text-center.navs
                    a.nav-item(href='/about') ?
                    a.nav-item(href='/search') S
                    a.nav-item(href='/contaminants') C
                    a.nav-item(href='/action') Act
    block content
