extends layout
append css
        link(href='/css/map_viz.css', rel='stylesheet')
block content
    .container
        .row
            .col-xs-6
                div#county_select
                    input.typeahead(type="text", placeholder="Enter a county")
            .col-xs-6.text-center
                svg

append scripts
    script(type="text/javascript", src="/js/lib/d3.v3.min.js")
    script(type="text/javascript", src="/js/lib/queue.v1.min.js")
    script(type="text/javascript", src="/js/lib/topojson.v1.min.js")
    script(type="text/javascript", src="/js/lib/typeahead.bundle.js")
    script(type="text/javascript", src="/js/map_viz.js" )
