/** Theme Classes **/
.tab {
    background-color: #3366CC;
    border-radius: 0px;
}

.backdrop {
    background-color: #FFFFFF;
}

.tabWords {
    color: #FFFFFF;
}

.bigNumbers {
    color: #FF3333;
}

.words {
    color: #3399FF;
}

.words-selected {
    color: #333399;
}

.textbox {
    background-color: #3399FF;
}

/*******************/

html {
    height: 100%;
}

body {
  min-height: 400px;
  padding-top: 70px;
  height:100%
}

.navbar-center {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.fill {
    min-height: 50%;
}

.navs {
    float:none;
    margin: 0 auto;
}
